$primary-color: #28B4F2 !default;
$accent-color: #0EDBA7;
$background-color: #f8f8f8;
$red-color: red;
$white: white;
$lighter-dark-text: #717171;
$light-grey: #ccc;
$dark-grey: #333;

/*** More variables not shown here.. ***/
