$primary-color: #28B4F2 !default;
$accent-color: #0EDBA7;
$background-color: #f8f8f8;
$red-color: red;
$white: white;
$light-grey: rgba(0,0,0,0.5);
$lighter-dark-text: #717171;
$dark-grey: #333;

/*** More variables not shown here.. ***/
