@import 'variables';

.App {
  background: $background-color;
  height:100vh;
  color: $dark-grey;

  .nav-extended {
    background-color:$primary-color;
  }
  .brand-logo {
    width:140px;
    height:50px;
    background: url('./mincoach.svg') no-repeat;
  }
}

.view {
    transition: opacity .3s;

    &.disabled {
        opacity: 0;
    }
}

.notif {
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
}
