@import '../variables';

.card {
  border-radius: 12px;
  .card-content {
    .text {
      color: $dark-grey;
      font-size: 1.6em;
      margin-top:12px;
    }
    .small {
      font-size:1.4em;
    }

    .option {
      color:$light-grey;
      font-size:1.2em;
      position: relative;
      margin-top:-42px;
    }

    .bottom {
      width:100%;
      margin:108px 0 -24px 0;
      padding:0 8px;
    }

  }
}
